Source: rigol-dsa815
Section: libs
Priority: optional
Maintainer: Martin Konrad <konrad@frib.msu.edu>
Build-Depends: debhelper (>=9), epics-debhelper (>= 8.14~),
               epics-dev
Standards-Version: 3.9.6
Vcs-Git: https://github.com/epicsdeb/rigol-dsa815.git
Vcs-Browser: https://github.com/epicsdeb/rigol-dsa815.git

Package: rigol-dsa815-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${epics:Depends}, epics-stream-dev
Description: EPICS support for Rigol DSA815
 Stream Device support for Rigol DSA815 spectrum analyzer.
